.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

label {
    font-weight: bold;
    margin-right: 1rem;
    flex: 1;
}

input {
    font: inherit;
    padding: 0.25rem 0.5rem;
    margin: 10px;
    border: 1px solid black;
    border-radius: 6px;
    width: 3rem;
}