.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
    /* flex: 1; */
}

.input input {
    font: inherit;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 3rem;
}